<div class="container ">
    <div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
			    <div class="panel-heading">Contribution - Status</div>
			    <div class="panel-body">
				  <div class="row">
						<div class="col-sm-3">
					  <legend><i class="ion-person"></i> Current Valuation: </legend>
					  <legend><i class="ion-aperture"></i> Total Reputation: </legend>
					  <legend><i class="ion-ribbon-b"></i> My Valuation: </legend>
				      <legend><i class="ion-clipboard"></i> My Reputation:</legend>
			  				</div>
					<div class="col-sm-9">
					<img src="/images/statPlaceHolder.png" class = "" ></img>
				
					</div>
				</div>
			    </div>
			  </div>
			</div>
  		</div>
	</div>

</div>