<div class="table-responsive pre-scrollable" ng:controller="ContributionsCtrl">
	Search: <input ng-model="searchKeyword">
	<table class="table table-striped black-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng:repeat="item in contributions | filter: searchKeyword "">
				<td style="width:40%"><a ng-click="getContribution(item)" style="cursor:pointer">{{item.id}}</a></td>
				<td style="width:40%"><div class="panel-text-dot" style="width: 600px;" data-placement="top" data-toggle="tooltip" tooltip="{{item.file}}">{{item.file}}</div></td>
				<td style="width:20%"><div class="panel-text-dot" style="width: 600px;">{{item.status}}</div></td>
			</tr>
			<tr>
				<td colspan="2">
				<div class="span6">
					<button type="button" class="btn btn-default" ng-click="createContribution()">Create Contribution</button>
				</div>
				</td>
			</tr>

		</tbody>
	</table>
</div>


