
<div class="container profile">
    <div class="row">
		<div class="col-sm-10">
		  <div class="panel panel-default">
		    <div class="panel-heading">{{ContributionModelForView.file}}</div>
		    <div class="panel-body">

				<form  ng-controller="ContributionsCtrl" role="form">

				  <div class='title'>Contribution</div>
				  <div class='content' style="margin: 0px;width: 985px;" >
				<label> File</label>
				<label> {{ContributionModelForView.file}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label>owner</label>	
						<label> {{ContributionModelForView.owner}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
					    <label>min_reputation_to_close</label>	
					    <label>{{ContributionModelForView.min_reputation_to_close}}</label>
				<section>
				<section class='creation'>

				<div class='separator'></div>
				  <div ng-repeat="contributer in ContributionModelForView.contributionContributers">
				  	 <label>Contributer Id</label>
				     <label>{{contributer.contributer_id}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <label>Contributer Contribution Percentage</label>
				     <label>{{contributer.contributer_percentage}}</label>
				   </div>     
				  </div>
				  <div class='separator'></div>
				  </section>
				  <section class='creation'>
				<div class='separator'></div>
				  <div ng-repeat="bid in ContributionModelForView.bids">  
				    <label>Bid Tokens</label>
				     <label>{{bid.tokens}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
				    <label>Bid Reputations</label>
				     <label>{{bid.reputation}}</label>
				      </div>     
				  </div>
				</section>

				<section class='creation'>
				  <button  ng-show="ContributionModelForView.status == 'Open'" ng:click='closeContribution()'>Close Contribution</button>
				</section>
				<section class='creation'>
				  <button  ng-show="ContributionModelForView.status == 'Open'" ng:click='addBid()'>Add Bid</button>
				</section>
				</form>
		
		    </div>
		  </div>
		</div>	
	</div>
</div>		
		