<div class="container profile">
    <div class="row">
		<div class="col-sm-3">
		  <div class="panel panel-default">
		    <div class="panel-body">
				<div class="form-group">
		          <label class="control-label">Sort By:</label>
				   <select id="sort" ng-model="orderProp" >
		          		<option value="targetName">Full Name</option>
		          		<option value="feedback">Reputation</option>
		        	</select>
		        </div>
		      <form method="post" ng-submit="updateProfile()">
		        <div class="form-group">
		          <label class="control-label">Search:</label>
				   <input id="search"  type="text" ng-model="query" class="form-control" >
		        </div>
		      </form>
		    </div>
		  </div>
		</div>		
		<div class="col-sm-9">
		 
		      	<div ng-repeat="user in users |  orderBy:orderProp :reverse">
			        <div class="panel">
						<div class="panel-body">
						    {{user.realName}}
						  </div>
			        </div>
			      </div>
		    </div>
		  
	</div>
</div>